__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
model_checkpoints/
model_checkpoints*/
vae_model_checkpoints/
outputs/
.vscode/
wandb/

thumbs.db
.DS_Store
.idea
.env

gwfonts
gwfonts.zip
gwfonts_images
attribute.zip
attributeData
similarity.zip
similarity